:root{
  background-color: rgb(26, 26, 26);
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: rgb(26,26,26); /* Tailwind slate-100 */
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 9999px;
  border: 2px solid #e2e8f0; /* Tailwind gray-200 */
}

.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 rgb(26,26,26); /* Firefox */
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

